{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div>
    <table>
        <tbody>
            <tr>
                <td width="400" height="100"" style="font-size: 200%;"><button type="button" style="font-size: 200%; background-color:#93ffff" ><a  style="color: #000000;" href="{% url 'shopping_history' %}">発注登録</a></button></td>
            </tr>
            <tr>
                <td width="400" height="100" style="font-size: 200%;"><button type="button" style="font-size: 200%; background-color:#93ff93;" ><a  style="color: #000000;" href="{% url 'admin:stock_shoppinghistory_changelist' %}">発注統計情報</a></button></td>
            </tr>
            <tr>
                <td width="400" height="100" style="font-size: 200%;"><button type="button" style="font-size: 200%; background-color:#ff8e8e" ><a  style="color: #000000;" href="{% url 'admin:stock_shoppinghistoryproxy_changelist' %}">発注一覧</a></button></td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>
  <!-- {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %} -->
</div>
{% endblock %}

{% block sidebar %}
<!--  -->
{% endblock %}