{% extends "admin/base_site_temp.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 </head>
 <body>
  <div id="app"></div>
  <div class="alert alert-success" role="alert">
  　<h4 class="alert-heading">Well done!</h4>
  　<p>Bootstrap4をmezzanine上で動かしています</p>
  　<hr>
  　<p class="mb-0">webpackを使っています</p>
　</div>
 {% render_bundle 'main' %}
 </body>
 {% endblock %}
