{% extends "admin/base_site_temp.html" %}
{% load i18n static %}
{% load mathfilters %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}
<!-- Select2.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">
<!-- jquery & iScroll -->
<div id="content-main">
    <form id="form" action="" method="POST">
        {% bootstrap_javascript jquery='full' %} 
        {% bootstrap_css %}
        {{ form.media }}
        {{ form.non_field_errors }}
        <div class="field">
            {{ form.target_name.label_tag }}
            {{ form.target_name }}
            <span class="helptext">{{ form.target_name.help_text }}</span>
            {{ form.target_name.errors }}
        </div>
        <div class="field form-inline">
            {{ form.date.label_tag }}
            {{ form.date }}
            <span class="helptext">{{ form.date.help_text }}</span>
            {{ form.date.errors }}
        </div>
        <div class="field">
            {{ form.parent_category.label_tag }}
            {{ form.parent_category }}
            {{ form.parent_category.errors }}
            {{ form.item.label_tag }}
            {{ form.item }}
            {{ form.item.errors }}
        </div>
        <div class="field">
            {{ form.material.label_tag }}
            {{ form.material }}
            {{ form.material.errors }}
        </div>
        <div class="field">
            {{ form.num.label_tag }}
            {{ form.num }}
            {{ form.num.errors }}
        </div>        
        <p id="atention">ここに原材料の説明が追記されます。</p>
        <p id="unit">ここに原材料の単位が追記されます。</p>
        {% csrf_token %}
        <button type="submit">送信</button>
    </form>
    <table>
        <tbody>
            <tr>
                <td width="200" height="100" style="font-size: 100%;"><button class="p-3" type="button" style="font-size: 150%;  background-color:#93ff93;" ><a style="color: #000000;"  href="{% url 'admin:stock_shoppinghistory_changelist' %}">発注統計情報</a></button></td>
                <td width="200" height="100" style="font-size: 100%;"><button class="p-3" type="button" style="font-size: 150%; background-color:#ff8e8e" ><a  style="color: #000000;" href="{% url 'admin:stock_shoppinghistoryproxy_changelist' %}">発注一覧</a></button></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Select2本体 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>

<script>
    const parentCategoryElement = $('#id_parent_category');
    const itemElement = $('#id_item');
    const materialElement = $('#id_material');
    const categories = {
        {% for parent in parentcategory_list %}
            '{{ parent.pk }}': [
                {% for item in parent.item_set.all %}
                    {
                        'pk': '{{ item.pk }}',
                        'name': '{{ item.name }}'
                    },
                {% endfor %}
            ],
        {% endfor %}
    };
    const materials = {
        {% for item in item_list %}
            '{{ item.pk }}': [
                {% for material in item.material_set.all %}
                    {
                        'pk': '{{ material.pk }}',
                        'name': '{{ material.name }}',
                        'note': '{{ material.note  | linebreaks  }}',
                        'num': '{{ material.unit}}',
                        
                    },
                {% endfor %}
            ],
        {% endfor %}
    };

    

    const changeCategory = (select) => {
        // 子カテゴリの選択欄を空にする。]
        // console.log(itemElement)
        itemElement.children().remove();

        // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
        const parentId = parentCategoryElement.val();
        const categoryList = categories[parentId];

        // 子カテゴリの選択肢を作成・追加。
        for (const category of categoryList) {
            const option = $('<option>');
            option.val(category['pk']);
            option.text(category['name']);
            itemElement.append(option);
        }

        // 指定があれば、そのカテゴリを選択する
        if (select !== undefined) {
            itemElement.val(select);
        }
    };

    const changeMaterial = (select) => {
        console.log("Ma")
        // 子カテゴリの選択欄を空にする。
        materialElement.children().remove();

        // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
        const parentId = itemElement.val();
        
        const materialList = materials[parentId];

        console.log(materials)

        // 子カテゴリの選択肢を作成・追加。
        for (const material of materialList) {
            const option = $('<option>');
            option.val(material['pk']);
            option.text(material['name']);
            materialElement.append(option);
        }

        console.log(materialElement)
        // 指定があれば、そのカテゴリを選択する
        if (select !== undefined) {
            materialElement.val(select);
        }
    };


    $('#id_parent_category').on('change', () => {
        changeCategory();
        changeMaterial();
        itemElement.val(null).trigger('change');
        console.log(itemElement)
        $('#id_material').val(null).trigger('change');
    });

    // $('#id_item').on('select2:select', () => {
    //     console.log("SSS")
    //     changeMaterial();
    //     $('#id_material').val(null).trigger('change');
    // });

    itemElement.trigger('change', () => {
        console.log("SSS")
        changeMaterial();
        $('#id_material').val(null).trigger('change');
    });

    // $('#id_item').on('selected', () => {
    //     console.log("SSS")
    //     changeMaterial();
    //     $('#id_material').val(null).trigger('change');
    // });

    $('#id_material').on('change', () => {
        console.log("SS")
        const input1 = document.getElementById("atention");
        const input2 = document.getElementById("unit");
        let found
        console.log(found = materials[1])
        if($('#id_item')[0].value){
            found = materials[$('#id_item')[0].value].find(element => element.pk == $('#id_material')[0].value);
        }else{
            found = materials[1][$('#id_material')[0].value]
        }
        found && found.note !== void 0 ? input1.innerHTML = found.note : input1.innerHTML = null
        found && found.num !== void 0 ? input2.innerHTML = found.num : input2.innerHTML = null
    });



    // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
    if (parentCategoryElement.val()) {
        const selectedCategory = itemElement.val();
        changeCategory(selectedCategory);
    }
    
    $('#id_date').val( new Date().getFullYear() + '-' + (new Date().getMonth()+1).toString().padStart(2, '0') + '-' + (new Date().getDate()).toString().padStart(2, '0'));
    $('#id_item').select2().on('change', function (e) {
        changeMaterial();
        materialElement.val(null).trigger('change');
    })

    // $('#form').submit(function(){
    //     console.log($('#id_target_name'))
    //     let message = $('#id_material').select2('data')[0]['text'] + "を" + $('#id_date').val() + "に" + $('#id_target_name option:selected').text() + "に仕入れます。\nパスワードを入力してください。"
    //     if(!(window.prompt(message, "") == "password")){
    //         return false;
    //     }
    // })

</script>
<script>$(function() {
    
    $('#id_material').select2()
});</script>
{% endblock %}