{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}
<div id="content-main">
    <form action="" method="POST">
        {% bootstrap_javascript jquery='full' %} 
        {{ form.media }}
        {{ form.non_field_errors }}
        <div class="field">
            {{ form.target_name.label_tag }}
            {{ form.target_name }}
            <span class="helptext">{{ form.target_name.help_text }}</span>
            {{ form.target_name.errors }}
        </div>
        <div class="field">
            {{ form.date.label_tag }}
            {{ form.date }}
            <span class="helptext">{{ form.date.help_text }}</span>
            {{ form.date.errors }}
        </div>
        <div class="field">
            {{ form.parent_category.label_tag }}
            {{ form.parent_category }}
            {{ form.parent_category.errors }}
            {{ form.item.label_tag }}
            {{ form.item }}
            {{ form.item.errors }}
        </div>
        <div class="field">
            {{ form.material.label_tag }}
            {{ form.material }}
            {{ form.material.errors }}
        </div>
        <div class="field">
            {{ form.num.label_tag }}
            {{ form.num }}
            {{ form.num.errors }}
        </div>        
        <p id="atention">ここに原材料の説明が追記されます。</p>
        <button type="submit">送信</button>
    </form>
    
</div>
<script>
    const parentCategoryElement = $('#id_parent_category');
    const itemElement = $('#id_item');
    const materialElement = $('#id_material');
    const categories = {
        {% for parent in parentcategory_list %}
            '{{ parent.pk }}': [
                {% for item in parent.item_set.all %}
                    {
                        'pk': '{{ item.pk }}',
                        'name': '{{ item.name }}'
                    },
                {% endfor %}
            ],
        {% endfor %}
    };
    const materials = {
        {% for item in item_list %}
            '{{ item.pk }}': [
                {% for material in item.material_set.all %}
                    {
                        'pk': '{{ material.pk }}',
                        'name': '{{ material.name }}',
                        'note': '{{ material.note }}'
                    },
                {% endfor %}
            ],
        {% endfor %}
    };


    const changeCategory = (select) => {
        // 子カテゴリの選択欄を空にする。
        itemElement.children().remove();

        // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
        const parentId = parentCategoryElement.val();
        const categoryList = categories[parentId];

        // 子カテゴリの選択肢を作成・追加。
        for (const category of categoryList) {
            const option = $('<option>');
            option.val(category['pk']);
            option.text(category['name']);
            itemElement.append(option);
        }

        // 指定があれば、そのカテゴリを選択する
        if (select !== undefined) {
            itemElement.val(select);
        }
        changeMaterial()
    };

    const changeMaterial = (select) => {
        // 子カテゴリの選択欄を空にする。
        materialElement.children().remove();

        // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
        const parentId = itemElement.val();
        
        const materialList = materials[parentId];


        // 子カテゴリの選択肢を作成・追加。
        for (const material of materialList) {
            const option = $('<option>');
            option.val(material['pk']);
            option.text(material['name']);
            materialElement.append(option);
        }

        // 指定があれば、そのカテゴリを選択する
        if (select !== undefined) {
            materialElement.val(select);
        }
    };


    $('#id_parent_category').on('change', () => {
        changeCategory();
    });

    $('#id_item').on('change', () => {
        changeMaterial();
        const input1 = document.getElementById("atention");
        console.log(materials[1][0])
        input1.textContent = materials[1][0]["note"]
    });

    $('#id_material').on('change', () => {
        const input1 = document.getElementById("atention");
        console.log($('#id_material')[0].value)
        console.log(materials[$('#id_item')[0].value])
        const found = materials[$('#id_item')[0].value].find(element => element.pk == $('#id_material')[0].value);
        console.log(found)
        found.note !== void 0 ? input1.textContent = found.note : input1.textContent = null
    });


    // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
    if (parentCategoryElement.val()) {
        const selectedCategory = itemElement.val();
        changeCategory(selectedCategory);
    }
    console.log()
    
    $('#id_date').val( new Date().getFullYear() + '-' + (new Date().getMonth()+1).toString().padStart(2, '0') + '-' + (new Date().getDate()).toString().padStart(2, '0'));

</script>
{% endblock %}